
.App {
  /* background-color: lavender;  */
}
header {
  height: 100vh;
  }
.login {
  margin: 10rem;
}
.carouselSizing {
  margin: 5rem;
  padding-bottom: 25px;
}
.mainPage { 
  margin: 2rem;
}
.aboutPage {
  font-size: 18px;
  margin: 4rem;
  /* background-color: lavender; */
} 